.score {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  animation: score-animation 1s infinite;

  @keyframes score-animation {
    0% {
      color: #333;
    }

    50% {
      color: #ff0000;
    }

    100% {
      color: #333;
    }
  }

  .score-value {
    font-size: 32px;
    color: #008000;
    animation: score-value-animation 1s infinite;

    @keyframes score-value-animation {
      0% {
        color: #008000;
      }

      50% {
        color: #0000ff;
      }

      100% {
        color: #008000;
      }
    }
  }
}